<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Event Creation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/background.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">

  <!--bootstrap and jquery links-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</head>

<body class="bg">
  <div class="container creation-container">

    <nav class="navbar navbar-expand-lg">
      <a class="btn btn-primary ml-auto" href="/logout" role="button" id="logout">Log Out</a>
    </nav>
    <div class="row justify-content-center">
      <div class="col">
        <div class="jumbotron">
          <h1 class="text-center">
            <h2 class="text-center">Create a new Event!</h2>
            <br>
            <div class="text-center">
            </div>
        </div>
      </div>
    </div>


  <div class= "row">
    <div id="past-events">Your Events
  </div>
  </div>
    <div class="row justify-content-center">

      <div class="col-3"></div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Event Creation
          </div>
          <div class="card-body">
            <form action="/api/event/create" method="POST" role="form">
              <div class="form-group">
                <label for="party-name">Event Name</label>
                <input name=name type="text" class="form-control" id="party-name" required>
              </div>
              <div class="form-group">
                <label for="party-time">Date and Time</label>
                <input name=dateTime type="text" class="form-control" id="party-time" required>
              </div>
              <div class="form-group">
                <label for="party-email">Phone Number</label>
                <input type="tel" name="phoneNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control"
                  id="party-email" required>
              </div>
              <button id="event-submit" type="submit" class="btn btn-primary submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>