<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <!--bootstrap and jquery links-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    {{!-- Animate CSS --}}
    {{!-- <link rel="stylesheet" href="animate.min.css"> --}}

</head>

<body syle="overflow: hidden">
    <div class="container creation-container">

        <div id="event" data-user="{{this.user}}" data-eventname="{{this.eventname}}" data-date="{{this.date}}" class="jumbotron bg-jumbo">
            <h1 class="text-center">
                <h2 class="text-center">What are you bringing?</h2>
        </div>

        <div class="cotainer" id="test">
            <div class="card">
                <div class="card-header text-center">
                    <p id="text">Swipe right on the items you want to bring!</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            <div id="card-test" sytle="dispay: flex; align-items: flex-end; z-index: 1">
            </div>
            </div>
        </div>

    </div>

      {{!-- <footer class="footer mt-5 py-1">

    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          &copy; 2019 The Dip
        </div>
      </div>
    </div>
  </footer> --}}

    {{!-- Hammer.js link --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">

    var $eventUser = $("#event").attr("data-user");
    var $eventName = $("#event").attr("data-eventname");
    function insertCard(data) {
        console.log(data);
        for(var i = 0; i < data.length; i++) {
            var card = "<div data-id="+data[i].id+ " class='card item' style='width: 18rem; transform: translateY(20*"+i+"px); display: inline-block; overflow: hidden; position: absolute'><img class='card-img-top' src='"+data[i].image_link+"'><div class='card-body'><h4 class='card-title'>"+data[i].item+"<p class='card-text'>" +data[i].description+ "</p></h4></div></div>";

            $("#card-test").prepend(card);
        }
        
        var $cards = document.querySelectorAll(".item");
        $cards.forEach(function(item) {
            var hammer = new Hammer(item)
            hammer.on("swipeleft",function(){
            item.classList.add("animated", "slideOutLeft")
            })
            hammer.on("swiperight",function(){
            var itemId = $(item).attr("data-id")
            var data = {
                id: itemId,
                isBrought: true
            }
            $.ajax({
                url:"/api/event/item",
                type:"POST",
                data: data
            })
            item.classList.add("animated", "slideOutRight")
    })
    })
        
    };
    

       $.ajax({
        url:"/api/event/"+$eventUser+"-"+$eventName,
        type: "GET"
    }).then(function(data){
        insertCard(data);
    })


    </script>
</body>

</html>