body {
    background-image: url("images/prism.png");
    /* background-attachment: fixed; */
}

.container {
    /* background-image: url("images/tweed.png") */
    text-align: center;
}

.center {
    text-align: justify;
    align-content: center
}

h5 {
    color: white;
}

h1 {
    font-family: 'Fruktur', cursive;
    color: white;
    size: 4em;
}

.card-title {
    color: black
}