body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("./images/loginbg.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Image by <a href="https://pixabay.com/users/rovenimages_com-8418495/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3240606">Roven 
Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3240606">Pixabay</a> */