body{
  font-family: 'Open Sans', sans-serif;
}

.jumbotron{
  margin-top: 2.5%;
  background-color: 969696;
  color: white;
  font-size: 2.5em;
}

.btn{
  background-color: 969696;
  color: white;
  border-color: 969696;
}

.card{
  border-style: solid;
  border-color: 828282;
}

