body{
  font-family: 'Open Sans', sans-serif;
  background-color: #404040;
  color: #f2f2f2;
}

.jumbotron{
  margin-top: 2.5%;
  background-color: #404040;
  color: #f2f2f2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
}

.bg-jumbo{
  background-image: url("./images/loginbg.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
  background-color: #969696;
  color: #f2f2f2;
  border-color: #969696;
}

.card{
  border-style: solid;
  border-color: #595959;
  background-color: #404040;
  color: #f2f2f2;
}

.register-card{
  background-color: #7b7b7b;
}